{erl_opts, [
  {parse_transform, lager_transform}, %%warnings_as_errors,
  {lager_truncation_size, 4096}
]}.

{relx, [
  {release, {sync_api, "1.0.0" }, [sync_api]},
  {mkdir, "log"},
  {sys_config, "config/sys.config"},
  {vm_args, "config/vm.args"},
  {dev_mode,              false},
  {include_erts,          true},
  {extended_start_script, true}
]}.

{profiles, [
  {prod, [
    {relx, [
      {dev_mode,      false},
      {include_src,   true},
      {include_erts,  true}
    ]}
  ]}
]}.

{dialyzer, [
  {base_plt_apps, [ssl, stdlib, kernel]},
  {warnings, [
    "Call to missing or unexported function lager:warning/3",
    "Call to missing or unexported function lager:warning/1",
    "Call to missing or unexported function lager:warning/2",
    "Call to missing or unexported function lager:info/1",
    "Call to missing or unexported function lager:info/2",
    "Call to missing or unexported function lager:notice/2",
    "Call to missing or unexported function lager:notice/1",
    "Call to missing or unexported function lager:error/1",
    "Call to missing or unexported function lager:error/2",
    "Call to missing or unexported function lager:debug/2"
  ]}
]}.

{deps, [
  {lager,   {git, "https://github.com/erlang-lager/lager", {tag, "3.6.10"}}},
  {jsx,     {git, "https://github.com/talentdeficit/jsx",  {tag, "2.8.0"}}},
  {cowboy,  {git, "https://github.com/ninenines/cowboy",   {tag, "2.6.3"}}}
]}.
