[

  {sync_api, [

    {app_version, "2024-04-05"},

    {srv, [
      {port,            80},
      {request_timeout, 60000},
      {max_connections, 48000},
      {num_acceptors,      50},
      {max_keepalive,   48000},
      {base_location,     "/api"}
    ]}
  ]},

  {lager, [
    {colored, true},
    {handlers, [
      {lager_console_backend, debug},
      {lager_file_backend, [{file, "log/error.log"},    {level, error},   {size, 1073741824},   {date, "$D0"}, {count, 10}]},      %% 1Gb
      {lager_file_backend, [{file, "log/warning.log"},  {level, warning}, {size, 1073741824},   {date, "$D0"}, {count, 10}]},      %% 1Gb
      {lager_file_backend, [{file, "log/info.log"},     {level, info},    {size, 1073741824},   {date, "$D0"}, {count, 20}]},      %% 1Gb
      {lager_file_backend, [{file, "log/debug.log"},    {level, debug},   {size, 1073741824},   {date, "$D0"}, {count, 3}]}        %% 1Gb
    ]},
    {error_logger_hwm,  1000},
    {async_threshold,    500},
    {async_threshold_window, 50}
  ]},

  {sasl, [
    {sasl_error_logger, false}
  ]},

  {ssl, [
    {session_lifetime, 600}
  ]}

].
